/*Coleres*/
/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&;700display=swap");
a {
  text-decoration: none;
  list-style: none;
  color: white; }

p {
  color: white;
  font-size: 1.2rem; }

.subtitulo {
  font-size: 1.8rem;
  color: #884A39; }

h1 {
  font-size: 5rem;
  margin: 20px auto;
  text-overflow: clip;
  color: #884A39;
  font-weight: bolder; }

h2 {
  font-size: 3rem;
  color: #C69749; }

h3 {
  font-size: 2rem;
  color: #C69749; }

h4 {
  font-size: 1.85rem;
  color: #C69749;
  text-align: center; }

h5 {
  font-size: 1.5rem;
  color: #C69749; }

h6 {
  font-size: 1.5rem;
  color: white;
  letter-spacing: 2px; }

/*Tarjetas Motos-Accesorios*/
.moto-card {
  width: 310px;
  border-radius: 5px;
  border: 1px white solid;
  margin: 40px;
  background-color: #cf6807; }
  .moto-card img {
    position: relative;
    width: 100%; }
  .moto-card div {
    margin: 10px; }
    .moto-card div p {
      margin: 10px; }
  .moto-card .moto-card-boton {
    margin-top: 30px;
    height: 40px;
    text-align: center;
    border: 1px black solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e1f2c;
    color: #E3CCAE; }
    .moto-card .moto-card-boton:hover {
      background-color: #884A39;
      color: #040D12; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  list-style: none;
  color: black;
  font-family: 'Rajdhani', sans-serif; }

body {
  background-color: #282A3A; }

.header {
  height: 8vh;
  background-color: #242a52;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative; }

.header-index {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: slider-de-imagenes 15s infinite;
  transition: background-image 2s ease-in-out;
  z-index: 0;
  position: relative; }

.logo {
  width: 50px;
  margin-left: 20px; }

.titulo {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .titulo img {
    width: 600px auto; }

.nav-bar {
  position: relative;
  width: 100%;
  background-color: transparent;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  backdrop-filter: blur(5px);
  z-index: 1; }

.navbar-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 15px; }

.logo {
  margin-right: 20px; }
  .logo img {
    width: 40px; }

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  right: 0px; }

.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 3px 0; }

.nav-lista {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0; }

.nav-lista li {
  margin: 0 10px; }

.nav-lista a {
  text-decoration: bold;
  font-size: 1.5rem;
  transition: 0.3s; }

.nav-lista a:hover {
  color: #C69749; }

@keyframes slider-de-imagenes {
  0%, 100% {
    background-image: url("../Imagenes/gif/ciudad.gif"); }
  20% {
    background-image: url("../Imagenes/gif/ciudad.gif"); }
  40% {
    background-image: url("../Imagenes/gif/gif_enduro.gif"); }
  40% {
    background-image: url("../Imagenes/gif/gif_enduro.gif"); }
  60% {
    background-image: url("../Imagenes/gif/ruta.gif"); } }

footer .index-contacto {
  background-color: #1e1f2c;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  footer .index-contacto div {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .index-contacto div a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 5px;
      font-size: 1.5rem;
      letter-spacing: 2px; }
    footer .index-contacto div h6 {
      margin-left: 5px; }

.desaparecer-iconosfixed {
  display: none; }

.desaparecer {
  display: flex; }

.main-index {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .main-index .index-motos {
    width: 85vw;
    height: 30vh;
    min-height: 210px;
    margin-top: 50px;
    display: grid;
    place-items: center;
    grid-template-rows: 0.3fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-template-areas: "motos-titulo motos-titulo motos-titulo" "motos-nuevas motos-usadas motos-proximas"; }
    .main-index .index-motos .motos-titulo {
      grid-area: motos-titulo; }
    .main-index .index-motos .motos-nuevas {
      grid-area: motos-nuevas;
      position: relative;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-width: 220px;
      height: 100%;
      background-image: url(../Imagenes/fondos/nuevas-index-oscura.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transition: transform 0.3s ease; }
      .main-index .index-motos .motos-nuevas:hover {
        z-index: 4;
        transform: scale(1.04); }
      .main-index .index-motos .motos-nuevas a {
        color: #394867; }
    .main-index .index-motos .motos-usadas {
      grid-area: motos-usadas;
      position: relative;
      display: flex;
      border-radius: 5px;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-width: 220px;
      height: 100%;
      background-image: url(../Imagenes/fondos/usadas-index-modified.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transition: transform 0.3s ease; }
      .main-index .index-motos .motos-usadas:hover {
        z-index: 4;
        transform: scale(1.04); }
    .main-index .index-motos .motos-proximas {
      grid-area: motos-proximas;
      position: relative;
      display: flex;
      border-radius: 5px;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-width: 220px;
      height: 100%;
      background-image: url(../Imagenes/fondos/taller-oscura.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transition: transform 0.3s ease; }
      .main-index .index-motos .motos-proximas:hover {
        z-index: 4;
        transform: scale(1.04); }
    .main-index .index-motos .motos-nuevas h3,
    .main-index .index-motos .motos-usadas h3,
    .main-index .index-motos .motos-proximas h3 {
      text-align: center; }
  .main-index .marcas {
    margin-top: 40px;
    height: 10vh;
    width: 95vw;
    display: flex;
    justify-content: space-around; }
    .main-index .marcas a .logos-marcas {
      width: 100px; }

.index-accesorios {
  margin-top: 70px;
  margin-bottom: 20px;
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .index-accesorios .accesorios-item {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 100%;
    margin-top: 40px; }
    .index-accesorios .accesorios-item .accesorios-botas, .index-accesorios .accesorios-item .accesorios-campera, .index-accesorios .accesorios-item .accesorios-casco, .index-accesorios .accesorios-item .accesorios-guantes, .index-accesorios .accesorios-item .accesorios-pantalon {
      flex: 1;
      max-width: 100%;
      text-align: center; }
      .index-accesorios .accesorios-item .accesorios-botas .atributos-iconos, .index-accesorios .accesorios-item .accesorios-campera .atributos-iconos, .index-accesorios .accesorios-item .accesorios-casco .atributos-iconos, .index-accesorios .accesorios-item .accesorios-guantes .atributos-iconos, .index-accesorios .accesorios-item .accesorios-pantalon .atributos-iconos {
        width: 130px;
        height: 130px; }
      .index-accesorios .accesorios-item .accesorios-botas .cambio-color-hover, .index-accesorios .accesorios-item .accesorios-campera .cambio-color-hover, .index-accesorios .accesorios-item .accesorios-casco .cambio-color-hover, .index-accesorios .accesorios-item .accesorios-guantes .cambio-color-hover, .index-accesorios .accesorios-item .accesorios-pantalon .cambio-color-hover {
        filter: grayscale(100%);
        transition: filter 0.3s; }
      .index-accesorios .accesorios-item .accesorios-botas .cambio-color-hover:hover, .index-accesorios .accesorios-item .accesorios-campera .cambio-color-hover:hover, .index-accesorios .accesorios-item .accesorios-casco .cambio-color-hover:hover, .index-accesorios .accesorios-item .accesorios-guantes .cambio-color-hover:hover, .index-accesorios .accesorios-item .accesorios-pantalon .cambio-color-hover:hover {
        filter: none; }

.main-motos {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .main-motos .motos-tipomoto {
    width: 95vw;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .main-motos .motos-tipomoto .moto-cardtipo .moto-imagentipo {
      text-align: center; }
      .main-motos .motos-tipomoto .moto-cardtipo .moto-imagentipo img {
        width: 300px;
        height: 200px;
        border-radius: 10px; }
  .main-motos .moto-offroad {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px; }
    .main-motos .moto-offroad .offroad-titulo {
      width: 95vw;
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url(../Imagenes/gif/gif_enduro.gif);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
  .main-motos .moto-road {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem; }
    .main-motos .moto-road .road-titulo {
      width: 95vw;
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url(../Imagenes/gif/ruta.gif);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
  .main-motos .moto-vespa {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem; }
    .main-motos .moto-vespa .vespa-titulo {
      width: 95vw;
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url(../Imagenes/gif/ciudad.gif);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }

.moto-section-card {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  justify-content: space-around;
  align-items: center; }

.main-contacto {
  color: #C69749; }
  .main-contacto form {
    width: 50vw;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 40px; }
    .main-contacto form .form-label {
      color: #C69749;
      font-size: 1.5rem; }
  .main-contacto h2 {
    text-align: center;
    margin-top: 50px; }

.caja-grande {
  height: 200px; }

.div-centrado {
  text-align: center; }

.main-taller {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh; }
  .main-taller h2 {
    margin-top: 40px;
    text-align: center; }
  .main-taller .taller-servicios {
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px; }
    .main-taller .taller-servicios h2 {
      margin-bottom: 40px;
      font-size: 2rem; }
    .main-taller .taller-servicios .main-taller-titulo {
      text-align: center; }
    .main-taller .taller-servicios div {
      display: flex;
      justify-content: space-around; }
      .main-taller .taller-servicios div div {
        border: 1px white solid;
        background-color: #cf6807;
        width: 30vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        max-width: 300px; }
        .main-taller .taller-servicios div div h4 {
          position: relative;
          text-align: center;
          color: black; }
        .main-taller .taller-servicios div div p {
          position: relative;
          text-align: center; }
        .main-taller .taller-servicios div div a {
          color: black; }
          .main-taller .taller-servicios div div a:hover {
            color: white; }

.main-acc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px; }
  .main-acc .acc-items {
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main-acc .acc-items .acc-casco h3 {
      margin-bottom: 30px; }
    .main-acc .acc-items .acc-camperas h3 {
      margin-bottom: 30px; }
    .main-acc .acc-items .acc-guantes h3 {
      margin-bottom: 30px; }
    .main-acc .acc-items .acc-pantalon h3 {
      margin-bottom: 30px; }
    .main-acc .acc-items .acc-botas h3 {
      margin-bottom: 30px; }

.encuadre-subtitulo {
  position: relative;
  width: 100%;
  margin-top: 50px; }

.acc-card-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.pegado-fondo {
  position: absolute;
  bottom: 0px;
  width: 100%; }

@media (max-width: 700px) {
  /*Menu de navegacion*/
  .menu-toggle {
    color: black;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px; }
  .nav-lista {
    display: none;
    flex-direction: column;
    backdrop-filter: blur(4px);
    border-radius: 2px;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    width: 80vw; }
  .nav-lista.active {
    display: flex;
    width: 101vw;
    height: 100vh;
    background-color: #242a52; }
  .nav-lista li {
    margin: 10px 0; }
  .titulo img {
    display: none; }
  h1 {
    font-size: 2.5rem; }
  h2 {
    font-size: 2rem; }
  h3 {
    font-size: 1.5rem; }
  .subtitulo {
    font-size: 1.3rem; }
  /*Index*/
  .main-index .index-motos {
    height: 35vh;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "motos-titulo" "motos-nuevas" "motos-usadas" "motos-proximas"; }
    .main-index .index-motos .motos-nuevas {
      height: 10vh; }
    .main-index .index-motos .motos-usadas {
      height: 10vh; }
    .main-index .index-motos .motos-proximas {
      height: 10vh; }
  .index-accesorios {
    flex-wrap: wrap; }
  .index-item {
    flex-wrap: wrap; }
  .index-accesorios {
    margin-top: 70px;
    margin-bottom: 20px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .accesorios-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    margin-top: 20px; }
  .accesorios-botas, .accesorios-campera, .accesorios-casco, .accesorios-guantes, .accesorios-pantalon {
    flex: 0;
    max-width: 100%;
    margin: 20px;
    text-align: center; }
  /*Motos*/
  .main-motos .motos-tipomoto {
    margin-top: 30px;
    flex-direction: column;
    height: 900px; }
  /*Accesorios*/
  .encuadre-subtitulo {
    text-align: center;
    padding-left: 0px; }
  /*Cards*/
  .moto-card {
    width: 290px; }
    .moto-card img {
      position: relative;
      width: 100%; }
  /*Taller*/
  .main-taller {
    height: 155vh; }
    .main-taller .main-taller-titulo {
      margin-top: 100px; }
    .main-taller .taller-servicios {
      justify-content: center;
      align-items: center;
      margin: 50px;
      border-top: 1px #E3CCAE solid; }
      .main-taller .taller-servicios div {
        display: flex;
        position: relative;
        flex-direction: column;
        text-align: center;
        justify-content: center; }
        .main-taller .taller-servicios div div {
          margin-bottom: 20px;
          border: 1px black solid;
          width: 90vw;
          height: 40vh; }
  .pegado-fondo {
    position: relative;
    width: 100%; }
  /*Footer*/
  .desaparecer-700 {
    display: none; }
  /*Accesorios*/
  .encuadre-subtitulo {
    padding-left: 50px;
    text-align: left; }
  .main-acc h4 {
    text-align: center;
    padding-left: 0px;
    border-top: 1px solid #E3CCAE;
    padding-top: 20px; }
  /*Contacto*/
  .main-contacto form {
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 40px; } }

@media (max-width: 500px) {
  /*Main*/
  .desaparecer-400 {
    display: none; }
  .aparecer {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 20px; }
  .subida {
    bottom: 60px; }
  footer {
    display: none; }
  /*Contacto*/
  .main-contacto form {
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 40px; } }
