* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  list-style: none;
  color: black; }

a {
  text-decoration: none;
  list-style: none;
  color: white; }

h1 {
  font-size: 36px;
  margin: 20px auto;
  text-overflow: clip; }

h2 {
  font-size: xx-large; }

h3 {
  font-size: x-large; }

h4 {
  font-size: larger; }

.header-index {
  height: 90vh;
  border: 1px black solid;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: slider-de-imagenes 15s infinite;
  transition: background-image 2s ease-in-out;
  position: relative; }

.header {
  height: 10vh;
  border: 1px black solid;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative; }

.logo {
  width: 50px;
  margin-left: 20px; }

.titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.nav-bar {
  width: 90vw;
  background-color: transparent;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; }

.navbar-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 15px; }

.logo {
  margin-right: 20px; }

.logo img {
  width: 40px; }

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  right: 0px; }

.bar {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 3px 0; }

.nav-lista {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0; }

.nav-lista li {
  margin: 0 10px; }

.nav-lista a {
  text-decoration: bold;
  color: gray;
  transition: 0.3s; }

.nav-lista a:hover {
  color: black; }

@keyframes slider-de-imagenes {
  0%, 100% {
    background-image: url("../Imagenes/MotosVenta/voge500ds.jpeg"); }
  25% {
    background-image: url("../Imagenes/MotosVenta/voge300ds.jpeg"); }
  50% {
    background-image: url("../Imagenes/MotosVenta/trk502x.jpeg"); }
  75% {
    background-image: url("../Imagenes/MotosVenta/ktm390.jpg"); } }

footer .index-contacto {
  background-color: gray;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  footer .index-contacto div {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .index-contacto div a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 5px;
      color: black; }
    footer .index-contacto div h6 {
      margin-left: 5px;
      font-size: 1rem; }

.desaparecer-iconosfixed {
  display: none; }

.desaparecer {
  display: flex; }

/*Main*/
.main-index {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .main-index .index-motos {
    width: 100vw;
    height: 30vh;
    min-height: 210px;
    margin-top: 50px;
    background-color: gray;
    display: grid;
    place-items: center;
    grid-template-rows: 0.3fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "motos-titulo motos-titulo motos-titulo" "motos-nuevas motos-usadas motos-proximas"; }
    .main-index .index-motos .motos-titulo {
      grid-area: motos-titulo; }
    .main-index .index-motos .motos-nuevas {
      grid-area: motos-nuevas;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-width: 220px;
      height: 100%;
      background-image: url(../Imagenes/fondos/nuevas-index.jpeg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .main-index .index-motos .motos-usadas {
      grid-area: motos-usadas;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-width: 220px;
      height: 100%;
      background-image: url(../Imagenes/fondos/usadas-index.webp);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .main-index .index-motos .motos-proximas {
      grid-area: motos-proximas;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-width: 220px;
      height: 100%;
      background-image: url(../Imagenes/fondos/taller-index.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
    .main-index .index-motos .motos-nuevas h3,
    .main-index .index-motos .motos-usadas h3,
    .main-index .index-motos .motos-proximas h3 {
      text-align: center; }
  .main-index .marcas {
    margin-top: 40px;
    height: 9.95vh;
    width: 95vw;
    display: flex;
    justify-content: space-around; }
    .main-index .marcas .logos-marcas {
      min-width: 5%;
      max-width: 7%;
      aspect-ratio: 4/3;
      object-fit: contain; }
    .main-index .marcas .logo-fondoblanco {
      mix-blend-mode: color-burn; }

.index-accesorios {
  margin-top: 70px;
  margin-bottom: 20px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .index-accesorios .accesorios-item {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 100%;
    margin-top: 20px; }
    .index-accesorios .accesorios-item .accesorios-botas, .index-accesorios .accesorios-item .accesorios-campera, .index-accesorios .accesorios-item .accesorios-casco, .index-accesorios .accesorios-item .accesorios-guantes, .index-accesorios .accesorios-item .accesorios-pantalon {
      flex: 1;
      max-width: 100%;
      text-align: center; }
      .index-accesorios .accesorios-item .accesorios-botas .atributos-iconos, .index-accesorios .accesorios-item .accesorios-campera .atributos-iconos, .index-accesorios .accesorios-item .accesorios-casco .atributos-iconos, .index-accesorios .accesorios-item .accesorios-guantes .atributos-iconos, .index-accesorios .accesorios-item .accesorios-pantalon .atributos-iconos {
        width: 130px;
        height: 130px; }
      .index-accesorios .accesorios-item .accesorios-botas .cambio-color-hover, .index-accesorios .accesorios-item .accesorios-campera .cambio-color-hover, .index-accesorios .accesorios-item .accesorios-casco .cambio-color-hover, .index-accesorios .accesorios-item .accesorios-guantes .cambio-color-hover, .index-accesorios .accesorios-item .accesorios-pantalon .cambio-color-hover {
        filter: grayscale(100%);
        transition: filter 0.3s; }
      .index-accesorios .accesorios-item .accesorios-botas .cambio-color-hover:hover, .index-accesorios .accesorios-item .accesorios-campera .cambio-color-hover:hover, .index-accesorios .accesorios-item .accesorios-casco .cambio-color-hover:hover, .index-accesorios .accesorios-item .accesorios-guantes .cambio-color-hover:hover, .index-accesorios .accesorios-item .accesorios-pantalon .cambio-color-hover:hover {
        filter: none; }

.main-motos {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .main-motos .motos-tipomoto {
    width: 95vw;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px black solid; }
    .main-motos .motos-tipomoto .moto-cardtipo img {
      width: 300px; }
  .main-motos .moto-offroad {
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px; }
    .main-motos .moto-offroad .offroad-titulo {
      width: 95vw;
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url(../Imagenes/gif/gif_enduro.gif);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
  .main-motos .moto-road {
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem; }
    .main-motos .moto-road .road-titulo {
      width: 95vw;
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url(../Imagenes/gif/ruta.gif);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
  .main-motos .moto-vespa {
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem; }
    .main-motos .moto-vespa .vespa-titulo {
      width: 95vw;
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url(../Imagenes/gif/ciudad.gif);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }

.moto-section-card {
  border: 1px black solid;
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  justify-content: space-around;
  align-items: center; }

.main-contacto form {
  width: 50vw;
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 40px; }

.main-contacto h2 {
  text-align: center;
  margin-top: 50px; }

.caja-grande {
  height: 200px; }

.div-centrado {
  text-align: center; }

.main-taller {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh; }
  .main-taller h2 {
    margin-top: 40px; }
  .main-taller .taller-servicios {
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px;
    border: 1px black solid; }
    .main-taller .taller-servicios div {
      display: flex;
      justify-content: space-around; }
      .main-taller .taller-servicios div div {
        border: 1px black solid;
        width: 30vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 300px; }
        .main-taller .taller-servicios div div h3 {
          position: relative;
          margin-bottom: 20%; }
        .main-taller .taller-servicios div div p {
          position: relative;
          text-align: center; }

.moto-card {
  width: 310px;
  border: 1px black solid;
  margin: 40px; }
  .moto-card img {
    width: 310px; }
  .moto-card div {
    margin: 10px; }
    .moto-card div p {
      margin: 10px; }
  .moto-card .moto-card-boton {
    margin-top: 30px;
    height: 40px;
    text-align: center;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center; }
    .moto-card .moto-card-boton a {
      color: black; }

.main-acc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .main-acc .acc-items {
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    width: 90vw;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main-acc .acc-items .acc-casco {
      border: 1px black solid; }
      .main-acc .acc-items .acc-casco h3 {
        text-align: center;
        margin-bottom: 30px; }
    .main-acc .acc-items .acc-camperas {
      border: 1px black solid; }
      .main-acc .acc-items .acc-camperas h3 {
        text-align: center;
        margin-bottom: 30px; }
    .main-acc .acc-items .acc-guantes {
      border: 1px black solid; }
      .main-acc .acc-items .acc-guantes h3 {
        text-align: center;
        margin-bottom: 30px; }
    .main-acc .acc-items .acc-pantalon {
      border: 1px black solid; }
      .main-acc .acc-items .acc-pantalon h3 {
        text-align: center;
        margin-bottom: 30px; }
    .main-acc .acc-items .acc-botas {
      border: 1px black solid; }
      .main-acc .acc-items .acc-botas h3 {
        text-align: center;
        margin-bottom: 30px; }

.encuadre-subtitulo {
  position: relative;
  width: 100%;
  border: 1px black solid;
  margin-top: 20px; }
  .encuadre-subtitulo h4 {
    padding-left: 20%;
    text-align: left; }

.acc-card-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.pegado-fondo {
  position: absolute;
  bottom: 0px;
  width: 100%; }

@media screen and (max-width: 800px) {
  /*Menu de navegacion*/
  .menu-toggle {
    color: black;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px; }
  .nav-lista {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    width: 80vw; }
  .nav-lista.active {
    display: flex; }
  .nav-lista li {
    margin: 10px 0; } }

@media (max-width: 700px) {
  /*Index*/
  .index-motos {
    width: 100vw;
    height: 60vh;
    min-height: 210px;
    background-color: gray;
    display: grid;
    place-items: center;
    grid-template-rows: 0.1fr 0.3fr 0.3fr 0.3fr;
    grid-template-columns: 1fr;
    grid-template-areas: "motos-titulo"  "motos-nuevas" "motos-usadas" "motos-proximas";
    border: 1px black solid; }
  .index-accesorios {
    flex-wrap: wrap; }
  .index-item {
    flex-wrap: wrap; }
  .index-accesorios {
    margin-top: 70px;
    margin-bottom: 20px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .accesorios-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    margin-top: 20px; }
  .accesorios-botas, .accesorios-campera, .accesorios-casco, .accesorios-guantes, .accesorios-pantalon {
    flex: 0;
    max-width: 100%;
    margin: 20px;
    text-align: center; }
  /*Footer*/
  .desaparecer-700 {
    display: none; }
  /*Contacto*/
  .main-contacto form {
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 40px; } }

@media (max-width: 450px) {
  /*Main*/
  .desaparecer-400 {
    display: none; }
  .aparecer {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 20px; }
  .subida {
    bottom: 60px; }
  footer {
    display: none; }
  /*Contacto*/
  .main-contacto form {
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 40px; } }
