
a{
    text-decoration: none;
    list-style: none;
    color: white;

}

h1{
    font-size: 36px;
    margin: 20px auto;
    text-overflow: clip;
}

h2{
    font-size: xx-large;
}

h3{
    font-size: x-large;
}

h4{
    font-size: larger;
}