.index-contacto{
    border: 1px black solid;
    background-color: gray;
    padding: 20px;
}

.index-contacto{
    display: flex;
    justify-content: center;
}

.alineado{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.desaparecer-iconosfixed{
    display: none;
}