
footer{

    .index-contacto{
        background-color: $azul-negro-oscuro;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    
        div{
            display: flex;
            justify-content: center;
            align-items: center;

            a{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 5px;
                font-size: 1.5rem;
                letter-spacing: 2px;
            }

            h6{
                margin-left: 5px;
            }
        }
    }
}

.desaparecer-iconosfixed{
    display: none;
}

.desaparecer{
    display: flex;
}


