.header{
    height: 8vh;
    background-color: $azul-claro;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.header-index{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: slider-de-imagenes 15s infinite;
    transition: background-image 2s ease-in-out;
    z-index: 0;

    position: relative;
}

.logo{
    width: 50px;
    margin-left: 20px;
}

.titulo{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    img{
        width: 600px auto;
    }
}

.nav-bar {
    position: relative;
    width: 100%;
    background-color: transparent;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    backdrop-filter: blur(5px);
    z-index: 1;

}
  
.navbar-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 15px;
}
  
.logo {
    margin-right: 20px;
    img{
        width: 40px;
    }
}
  
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    right: 0px;
}
  
.bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}
  
.nav-lista {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
  
.nav-lista li {
    margin: 0 10px;
}
  
.nav-lista a {
    text-decoration: bold;
    font-size: 1.5rem;
    transition: 0.3s;

}

.nav-lista a:hover{
    color: $marron-claro;
}
  

@keyframes slider-de-imagenes {
    0%, 100% {
        background-image: url('../Imagenes/gif/ciudad.gif');
    }
    20%{
        background-image: url('../Imagenes/gif/ciudad.gif');
    }
    40% {
        background-image: url('../Imagenes/gif/gif_enduro.gif');
    }
    40% {
        background-image: url('../Imagenes/gif/gif_enduro.gif');
    }
    60% {
        background-image: url('../Imagenes/gif/ruta.gif');
    }
}