
.main-taller{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;

    h2{
        margin-top: 40px;
        text-align: center;
    }

    .taller-servicios{

        width: 95vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 30px;

        h2{
            margin-bottom: 40px;
            font-size: 2rem;
        }
        .main-taller-titulo{
            text-align: center;
        }
        
        div{
            display: flex;
            justify-content: space-around;
            div{
                border: 1px $blanco solid;
                background-color: $marron-claro-oscuro;
                width: 30vw;
                height: 30vh;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                max-width: 300px;
                h4{
                    position: relative;
                    text-align: center;
                    color: $negro;
                }
    
                p{
                    position: relative;
                    text-align: center;
                }
                a{
                    color: black;

                    &:hover{
                        color: $blanco;
                    }
                }
            }
        }
    }
}

