*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li{
    list-style: none;
}

/*CSS de Header*/

h1{
    text-align: center;
    color: bisque;
}

header{
    background-color: #232226;
    padding-top: 15px;
}

.inline{
    display: inline;
}

.Perfil{
    position: absolute;
    right: 20px;
    top: 2.55%;
    font-size: medium;
}

h3{
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.aperturamenu{
    display: inline;
    position: absolute;
    top: 2.55%;
    left: 20px;

}

.ListaMenu{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 20px auto;
    justify-content: space-evenly;

}


nav a{
    color: azure;
    text-decoration: none;
    padding: 20px;
    font-size: 17px;
   
}

nav a:hover{
    color: aqua;
}

.Logo{
    width: 150px;
    display: flex;
    justify-content: center;
    border-radius: 5%
}

/*CSS de Main*/
main{
    background-color: #3e5954;
}

.MainIndex{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly
}

.ImagenIndex{
    width: 300px;
    height: 150px;
    opacity: 0.8;
}

.ImagenIndex:hover{
    opacity: 1;
}
.DivIndex{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    margin: 30px;
}

.LinkIndex{
    color: azure;
    text-decoration: none;
    position: relative;

}

.TituloPaginas{
    text-align: center;
    font-size: x-large;
}

.ListaFiltro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 35px;

}

.Motos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border:2px #232226 solid;
    margin-bottom:0px ;
}

.ImagenesMoto{
    width: 300px;
    height: auto;
    padding: 20px;
}

.ItemsNuevas{
    border: 1px grey solid;
    margin: 20px;
}

.ItemsNuevas:hover{
    border: 2px rgb(0, 0, 0) solid;
    margin: 20px;
}

.MainTiendas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Tiendas{
    padding: 6%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 20px;
    padding-top: 20px;
    align-items: center;
}

.BotonRegistro{
    width: 100px;
    align-self: center;
}

.DatosPerfil{
    padding-top: 20px;
    padding-bottom: 20px;
}

.ListaDatosPerfil{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
}

.ListaDatosPerfil li{
    padding-top: 20px;
}

.ContenedorBotonDatos{
    text-align: center;
}

.BotonDatos{
    width: 150px;
    margin: 20px;
    margin-top: 30px;
}


/*CSS de Footer*/
footer{
    display: flex;
    background-color: #5e9188;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:space-evenly;
}

.ListaFooter{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.itemListaFooter{
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}