*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    list-style: none;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

/*Grids Body*/

.bodyIndex{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.5fr 7fr 0.7fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header"
      "mainIndex"
      "footer"; 
}


/*Header*/

h1{
    text-align: center;
    color: bisque;
}


.estilolink{
    text-decoration: none;
    color:greenyellow;
}

.logotipo{
    width: 3vh;
}



/*Main*/
  
.mainIndex {  

    grid-area: mainIndex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "SeleccionNuevas SeleccionUsadas"
      "SeleccionTD SeleccionTiendas";

    height: 90vh;
    
}

.centradocontenedor{

    text-align: center;

}

.hover-difuminador:hover{
    opacity: 0.975;
}

/*Index Nuevas*/
.seleccionnuevas {
     grid-area: SeleccionNuevas; 
     background-image: url(../Imagenes/FotoNuevas.png);
     background-size: cover;
     background-position: center;

}



/*Index Usadas*/
.seleccionusadas { 
    grid-area: SeleccionUsadas; 
    background-image: url(../Imagenes/FotoUsadas.jpg);
    background-size: cover;
    background-position: center;

}

/*Index Test Drive*/
.selecciontestdrive { 
    grid-area: SeleccionTD; 
    background-image: url(../Imagenes/ImagenTestDrive.jpg);
    background-size: cover;
    background-position: center;
}

/*Index Tiendas*/
.seleccionnegocios { 
    grid-area: SeleccionTiendas; 
    background-image: url(../Imagenes/tienda.jpg.jpg);
    background-size: cover;
    background-position: center;
}
  
 
  

/*************************
        Footer
**************************/

.footer { 
    background-color: #232226;
    grid-area: footer; 
    
    align-items: center;
}


.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Ajusta la altura del contenedor según tus necesidades */
}

.contacto ul {
    list-style-type: none;
    padding: 0;
}

.contacto ul li {
    margin-right: 20px;
}

.contacto ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none; 
    padding: 0;
}
.contacto ul li {
    margin-right: 20px; 
}

.marcas { 
    grid-area: marcas; 
}

.contacto li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.contacto img {
    margin-right: 10px;
}

.contacto h6 {
    margin: 0;
}

.carusel-custom{
    height: 100px;
    width: auto;
}



/*

MEDIA QUERIES

*/

@media (max-width: 768px){

    .mainIndex {  

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-auto-flow: row;
        grid-template-areas:
          "SeleccionNuevas"
          "SeleccionUsadas"
          "SeleccionTD"
          "SeleccionTiendas";     
    }
    
}