*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    list-style: none;
    color: black;
}


/*Clases Generales*/

.borde-box{
    border: 1px black solid;
}





/*Headers*/

/*Header Index*/


.header-index{
    height: 90vh;
    border: 1px black solid;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: slider-de-imagenes 15s infinite;
    transition: background-image 2s ease-in-out;

    position: relative;

}

.logo{
    width: 50px;
    margin-left: 20px;
}

.titulo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1{
    font-size: 36px;
    margin: 20px auto;
}




.article-main{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(175,171,171,1) 100%);
}

.nav-menu ul{
    display: flex;  
    margin-right: 40px;
    overflow: hidden;
}

.nav-menu ul li{
    margin-right: 20px;
}

.nav-menu ul li a{
    font-size: large;
    color: gray;
    transition: 0.2s;
}

.nav-menu ul li a:hover{
    color: black;
}


@keyframes slider-de-imagenes {
    0%, 100% {
        background-image: url('../Imagenes/MotosVenta/voge500ds.jpeg');
    }
    25% {
        background-image: url('../Imagenes/MotosVenta/voge300ds.jpeg');
    }
    50% {
        background-image: url('../Imagenes/MotosVenta/trk502x.jpeg');
    }
    75% {
        background-image: url('../Imagenes/MotosVenta/ktm390.jpg');
    }
}

/*Mains*/

/*inicio*/

.main-index{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.marcas{
    height: 9.95vh;
    width: 95vw;
    display: flex;
    justify-content:space-around;
}

.logos-marcas{
    min-width: 5%;
    max-width: 7%;
    aspect-ratio: 4/3;
    object-fit: contain;
}

.logo-fondoblanco{
    mix-blend-mode: color-burn;
}


.index-motos{
    width: 100vw;
    height: 30vh;
    min-height: 210px;
    margin-top: 50px;
    background-color: gray;
    display: grid;
    place-items: center;
    grid-template-rows: 0.3fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "motos-titulo motos-titulo motos-titulo"
    "motos-nuevas motos-usadas motos-proximas";

    border: 1px black solid;
}

h3{
    font-size: x-large;
    text-align: center;
}
.motos-titulo{
    grid-area: motos-titulo;
}

.motos-nuevas{
    grid-area: motos-nuevas;
    position: relative;
    width:20vw;
    min-width: 220px;
    max-width: 250px;
    height: 100%;
}

.motos-usadas{
    grid-area: motos-usadas;
    position: relative;
    width: 20vw;
    min-width: 220px;
    max-width: 250px;
    height: 100%;
}

.motos-proximas{
    grid-area: motos-proximas;
    position: relative;
    width: 20vw;
    min-width: 220px;
    max-width: 250px;
    height: 100%;
}

.motos-nuevas img,
.motos-usadas img,
.motos-proximas img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    min-width: 20%;
    width: auto;
}

.index-accesorios{
    margin-top: 100px;
    margin-bottom: 20px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.accesorios-item{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 50px;
}
.accesorios-botas,.accesorios-campera,.accesorios-casco,.accesorios-guantes,.accesorios-pantalon{
    flex: 1;
    max-width: 100%;
}

.atributos-iconos{
    width: 130px;
    height: 130px;
}

.cambio-color-hover{
    filter: grayscale(100%);
    transition: filter 0.3s;
}

.cambio-color-hover:hover{
    filter: none; 
}

/*.slider-frame {
	width: 1280px;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: slide 20s infinite alternate ease-in-out;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

*/


/*************Footer*************/

/*Index Footer*/

.index-contacto{
    border: 1px black solid;
    background-color: gray;

}

.index-contacto ul{
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.index-contacto ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.index-contacto ul li img{
    padding-right: 10px;
    width: 40px;
}

h6{
    font-size: medium;
}