*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h1{
    color: azure;
    text-align: center;
    height: 60px;
    padding: 10px;

}

img{
    width: 250px;
    height: 150px;
    opacity: .8;
    border: 2px black solid; 
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    justify-content: space-around;
}

img:hover{
    opacity: 1;
    zoom: 1.02;
}